<h1>PasswordResets#new</h1>
<p>Find me in app/views/password_resets/new.html.erb</p>
<h1>Reset Password</h1>

<%= form_tag password_resets_path, :method => :post do %>
  <div class='field'>
    <%= label_tag :name %>
    <%= text_field_tag :name, params[:name] %>
  </div>
    <div class='actions'>
    <%= submit_tag "Reset Password" %>
  </div>
<% end %>