 <thead>
      <th>Title</th>
      <th>description</th>
    </thead>
    
     <tbody>
       <tr>
       <td>
         <%= @article.title %>
       </td>
       <td>
       	<%= @article.description %>
       </td>
     </tr>
   
     </tbody>