	<header>
		<hgroup>
		<h1> Software Company</h1>
		</hgroup>
	</header>
    <div class="navbar">
       <a href="/">Home</a>
       <a href="#">Services</a>
       <a href="#">Contact </a>
       <a href="/form">About us</a>
    </div>
	<form  name="myForm" action="#" onsubmit="validateForm()">
	<table align="center" class="formtable">
		<tr class="tdform">
		<td class="tdform" align="center">
			<label>Username</label>
			<input type="text" name="" id="Username">
			<p id="userError" class="paragraphError"></p>
		</td>

		</tr>
		<tr>
		<td class="tdform" align="center">
			<label>Enter email</label>
			<input type="email" name="" id="Email">
			<p id="emailError" class="paragraphError"></p>
		</td>
		</tr>
		<tr>
		<td class="tdform" align="center">
			<label>Password</label>
			<input type="Password" name="" id="Password" >
			<p id="passwordError" class="paragraphError"></p>
		</td>
		</tr>
		<tr>
			<td class="tdform" align="center">
		<input type="Submit" name="" value="submit" >
			</td>
		</tr>
</table>
</form>
