<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
	.jumbotron{
		background-color: lightblue;
		margin-bottom: 3px;
	}
	.nav{
		
		margin-bottom: 20px;
		background-color: silver;
		color: white;
		font-size: 20px;
	}
	.nav:hover{
		color: white;
		cursor: pointer;
	}
.signin{
	float: right;
	margin-top: 12px;
}
</style>
<body>
	<div class="jumbotron bg-info">
		<h3 class="text-center text-primary">Ruby on Rails</h3>
		
	</div>
<nav class="navbar navbar-default nav ">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      <li class=""><a href="/">Home</a></li>
      <li><a href="/first">About</a></li>
      <li><a href="/second">carrers</a></li>
      <li><a href="/next">contact</a></li>
    </ul>
     <a href="/signin" class="signin  btn btn-primary">signin</a>
  </div>
</nav>

<section id="contact" class="section-contact">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h2>Contact Me</h2>
        <p>I'm available for full-time consulting work. Drop me a line, and let's start a conversation. </p>
      </div>
      <div class="col-xs-12">
        <a href="mailto:my-email@gmail.com" class="btn btn-c btn-lg">
          <span class="glyphicon glyphicon-envelope"></span>
          <span>my-email@gmail.com</span>
        </a>
      </div>
    </div>
  </div>
</section>
</body>
</html>