<!DOCTYPE html>
<html>
<head>
	<title>Firstapp</title>
</head>
<style type="text/css">
	.jumbotron{
		background-color: lightblue;
		margin-bottom: 3px;
	}
	.nav{
		
		margin-bottom: 20px;
		background-color: silver;
		color: white;
		font-size: 20px;
		margin: 0px;
	}
	.nav:hover{
		color: white;
		cursor: pointer;
	}
.signin{
	float: right;
	margin-top: 8px;
}
.intro{
	background-color: grey;
}
footer{
	
	background-color: grey;
	color: white;
}
</style>
<body>
	<div class="jumbotron bg-primary ">
	<h3 class="text-center text-primary">Ruby on Rails</h3>
	</div>
	<nav class="navbar navbar-default nav ">
  	<div class="container-fluid">
    
   	 <ul class="nav navbar-nav nav">
      <li class=""><a href="/">Home</a></li>
      <li><a href="/first">About</a></li>
      <li><a href="/second">carrers</a></li>
      <li><a href="/next">contact</a></li>
     
    </ul>

  <a href="/signin" class="signin  btn btn-primary"  >signin</a>
 
   
  </div>
</nav>


	
</body>
<section>
	<h3>INTRODUCTION</h3>
	<div class="container bg-light">
	 <h3>Ruby on Rails' emergence in the 2000s greatly influenced web app development, through innovative features such as seamless database table creations, migrations, and scaffolding of views to enable rapid application development. Ruby on Rails' influence on other web frameworks remains apparent today, with many frameworks in other languages borrowing its ideas, including Django in Python, Catalyst in Perl, Laravel in PHP, Phoenix in Elixir, and Sails.js in Node.js.</h3>
		
	</div>
</section>

<section id="services" class="section-services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-info">Services</h2>
       
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <span class="glyphicon glyphicon-menu-hamburger gi-5x"></span>
        <h4>Responsive Web Design</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-6">
        <span class="glyphicon glyphicon-phone gi-5x"></span>
        <h4>Mobile Applications</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
     
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
      <p><a class="btn btn-info btn-lg" href="/next" role="button">Contact me.</a></p>
      </div>
    </div>
  </div>
</section>
	<footer class="text-center">
	<h4>Copy righted content .All rights reserved</h4>
	</footer>


</html>




