    <header>
        <hgroup>
        <h1> Software Company</h1>
         <a href="/form" class="Register" >Register</a>
        </hgroup>
    </header>
    <div class="navbar">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Contact </a>
        <a href="#">About us </a>
    </div>
    <section >
        <div class="intro">
            <h3>COMPANY INTRODUCTION</h3>
            <p>Established in 2001, we have quickly expanded our operations globally and served customers from Brunei, Hong Kong, Indonesia, Macau, Mauritius, Macau and many others. We strive to provide you with the best solutions to your business system needs.
                <br>
            <br> As our client, we place great emphasis and focus on your problems and goals and develop solutions that best fits your needs. We offer strong and effective solutions to your business with an enduring impact. We think of ourselves as your long-term partner.</p>
        </div>

        <div class="team">
            <hr>
             <h2>Our team</h2>
            <img src="offshore.png" width="320" height="180">
            <img src="work.png" width="320" height="180">
            <img src="Gate-Meetings.png" width="150" height="180">
            <img src="work.png" width="200" height="180">
        </div>
        <div class="feedback">
        <form name="Register Here">
            <table cellpadding="5" width="100%" height="30%" align="center" cellspacing="5">
            <tr class="text">
                <td colspan=3 class="text">
                    <center><font size=6><h4><b>Send us feedback!</h4></b></font></center>
                    <br>
                </td>
            </tr>
            <tr class="text">
                <td  class="text">Did you achieve your goal?</td>
                <td>
                    <button  value="Button" class="yes">Yes</button>
                    <button  value="Button" class="partially">Partially</button>
                    <button  value="Button" class="NO">NO</button>
                </td>
                <br> <br>
            </tr>
            <tr class="text">
                <td  class="text">What was the reason for your visit?</td>
                <td>
                    <input type="text" name="" id="emailid" size="20">
                </td>
            </tr>
            <tr class="text">
                <td  class="text">Do you have any suggestions to make our website better?</td>
                <td>
                    <textarea rows="5" cols="45"></textarea>
                </td>
            </tr>
            <tr class="text">
                <td></td>
               <td>
                 <button class="button" value="Button">Submit</button>
                </td>
            </tr>
        </table>
        </div>
    </form>
    </div>
</section>
    <div class="footer">
    <footer> &#9400 Copy righted content .All rights reserved</footer>
    </div>
</body>