<div class="container-fluid header">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag("logos/read.png",width:'180px',height:'120px',class: 'img-responsive') %>
		</div>
		<div class="col-md-4">
			<%= image_tag("logos/Articles.png",width:'180px',height:'120px',class: 'img-responsive centerimg') %>
		</div>
		<div class="col-md-4">
			<%= image_tag("logos/article.jpeg",width:'250px',height:'100px',class: 'img-responsive rightimg') %>
		</div>
	</div>
</div>
