<div class="container header">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag("logos/read.png",width:'180px',height:'120px',class: 'img-responsive') %>
		</div>
		<div class="col-md-4">

				<h2 class="headertext">Post articles</h2>
		</div>
		<div class="col-md-3">

				<%= image_tag("logos/imageread.jpeg",width:'150px',height:'120px',class: 'img-responsive') %>
		</div>
		
	</div>
	 
	 <hr>
</div>
